{erl_opts, [debug_info]}.
{deps, [
       ]}.

{profiles, [
            {old, [
                   {erl_opts, [{d, 'OLD_DEPS'}]},
                   {deps, [
                           {brod, "3.7.5"}
                          ]}
                  ]},
            {current, [
                       {erl_opts, [{d, 'CURRENT_DEPS'}]},
                       {deps, [
                               brod
                              ]}
                      ]},
            {latest, [
                      {erl_opts, [{d, 'LATEST_DEPS'}]},
                      {deps, [
                              brod,
                              {kafka_protocol, {git, "https://github.com/klarna/kafka_protocol", {tag, "2.4.0"}}}
                             ]}
                     ]}
           ]}.
